.main_div {
  z-index: 9;
  top: 0;
  position: absolute;
  width: 100%;
  min-width: 991px;
  transition: all 300ms linear;
}
.main_div .s_div {
  min-width: 991px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem 1rem;
  transition: 0.7s;
  z-index: 1;
  width: 100vw;
  padding-right: 1.5rem;
}
.main_div .s_div .logo .menu_icn {
  color: #fff;
  font-size: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main_div .s_div .logo img {
  cursor: pointer;
  width: 120px;
}
.main_div .s_div .tabss {
  margin-top: 18px;
}
.main_div .s_div .tabss ul .lif {
  background-color: #007bff;
  margin-right: 15px;
}
.main_div .s_div .tabss ul .lis {
  margin-right: 15px;
}
.main_div .s_div .tabss ul li {
  list-style-type: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1px 10px;
}
.main_div .s_div .tabss ul li:hover {
  background-color: #007bff;
  box-shadow: 0px 0px 0px 4px #007bff inset;
}
.main_div .s_div .tabss ul li a {
  text-decoration: none;
}
.main_div .s_div .signin {
  position: absolute;
  right: 20px;
  margin-top: 10px;
  color: #fff;
  height: 50% !important;
  display: flex;
  align-items: center;
}
.main_div .s_div .signin .signin_f {
  font-size: 20px;
  margin-right: 20px;
}
.main_div .s_div .signin .signin_icn {
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  font-size: 30px;
  background-color: #eee;
}
.mn_div {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 991px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-image: url("../../assets/Main_Banner.webp");
}
/* .mn_div {
    border: 1px solid red;
   
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
.backg {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top: 50px;
}
.backg .backg_sdiv {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*highlight*/
}
.backg .backg_sdiv .btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.backg .backg_sdiv .btn:hover {
  text-decoration: none;
}
.backg .backg_sdiv .effect01 {
  color: #fff;
  border-radius: 3px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.backg .backg_sdiv .effect01:hover {
  border: 4px solid #666;
  background-color: #007bff;
  box-shadow: 0px 0px 0px 4px #007bff inset;
}
.backg .backg_sdiv .effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.backg .backg_sdiv .effect01:hover span {
  letter-spacing: 0.13em;
  color: #fff;
}
.backg .backg_sdiv .effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}
.backg .backg_sdiv .effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.backg .backg_sdiv .wanted {
  position: absolute;
  bottom: 10px;
}
.backg .backg_sdiv .main_bar {
  width: 100%;
  max-width: 750px;
}
.backg .backg_sdiv h1 {
  color: #fff;
  font-size: 41px;
  padding: 0;
  font-weight: 900;
  letter-spacing: 1.3px;
  word-spacing: 1px;
  width: 580px;
}
.backg .backg_sdiv p {
  padding: 0 20px;
  color: #fff;
  font-size: 22px;
}
.backg .backg_sdiv .searchdiv {
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
}
.backg .backg_sdiv .searchdiv .searchIcon {
  width: 5%;
  color: rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
.backg .backg_sdiv .searchdiv .inp2 {
  display: inline-block;
  width: 445px;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0px 20px;
  padding-left: 5px;
  height: 100%;
}
.backg .backg_sdiv .searchdiv select {
  width: 20%;
  height: 36px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding-left: 5px;
  outline: none;
}
.backg .backg_sdiv .searchdiv button {
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 20px;
  height: 36px;
}
.bottom {
  color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom p {
  margin: 0;
}
.link_icns {
  margin-top: 15px;
}
.link_icns ul {
  display: flex;
}
.link_icns ul li {
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}
.link_icns ul li:nth-child(5) {
  margin-right: 0px;
}
.find {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: #666;
  font-size: 21px;
  padding: 13px 20px !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.near {
  background-color: #fff;
  padding: 0px 20px !important;
  height: 100%;
  color: #666;
  font-weight: bold;
  border-left: 1px solid #666;
  font-size: 21px;
  display: flex;
  align-items: center;
}
.secategories {
  background-color: #fff;
  width: 100%;
  color: #000;
  padding: 12px 18px;
  border-radius: 5px;
  margin-top: 18px;
}
.secategories .secategories_first_div {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}
.secategories .secategories_first_div .viewmore {
  color: #007bff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.secategories .secategories_first_div .explore {
  font-size: 18px;
  font-weight: bold;
}
.secategories .secategories_sec_div > ul {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.secategories .secategories_sec_div > ul li > button {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 3px;
}
.scroll {
  position: absolute;
  right: 30px;
  bottom: 30px;
  text-align: center;
  cursor: pointer;
}
.scroll a {
  color: #fff !important;
  text-decoration: none !important;
}
.scroll .txtScroll {
  font-size: 16px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  left: 2px;
}
/* property start */
.main_div {
  z-index: 9;
  top: 0;
  position: absolute;
  width: 100%;
  min-width: 991px;
  transition: all 300ms linear;
}
.main_div .s_div {
  min-width: 991px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
  padding-right: 1.5rem;
  transition: 0.7s;
  z-index: 1;
  width: 100vw;
}
.main_div .s_div .logo .menu_icn {
  color: #fff;
  font-size: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main_div .s_div .logo img {
  cursor: pointer;
  width: 110px;
}
.main_div .s_div .tabss {
  margin-top: 18px;
}
.main_div .s_div .tabss ul .lif {
  background-color: #007bff;
  margin-right: 15px;
}
.main_div .s_div .tabss ul .lis {
  margin-right: 15px;
}
.main_div .s_div .tabss ul li {
  list-style-type: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1px 10px;
}
.main_div .s_div .tabss ul li:hover {
  background-color: #007bff;
  box-shadow: 0px 0px 0px 4px #007bff inset;
}
.main_div .s_div .tabss ul li a {
  text-decoration: none;
}
.main_div .s_div .signin {
  position: absolute;
  right: 20px;
  margin-top: 10px;
  color: #fff;
  height: 50% !important;
  display: flex;
  align-items: center;
}
.main_div .s_div .signin .addprod {
  padding-right: 17px;
}
.main_div .s_div .signin .addprod button {
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}
.main_div .s_div .signin .signin_f {
  font-size: 20px;
  margin-right: 20px;
}
.main_div .s_div .signin .signin_icn {
  display: flex;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  font-size: 30px;
  background-color: #eee;
}
.mn_div {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 991px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 2.5rem;
}
.imgs {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.backg {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top: 60px;
}
.backg .backg_sdiv {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*btn_text*/
  /*highlight*/
}
.backg .backg_sdiv .btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  vertical-align: middle;
}
.backg .backg_sdiv .btn:hover {
  text-decoration: none;
}
.backg .backg_sdiv .effect01 {
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.backg .backg_sdiv .effect01:hover {
  border: 4px inset #666;
  background-color: rgba(0, 123, 255, 0.6);
  box-shadow: 0px 0px 0px 4px #007bff outset;
}
.backg .backg_sdiv .effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}
.backg .backg_sdiv .effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.backg .backg_sdiv .wanted {
  position: absolute;
  bottom: 10px;
  margin: auto;
}
.backg .backg_sdiv .main_bar {
  width: 100%;
  max-width: 780px;
}
.backg .backg_sdiv h1 {
  color: #fff;
  font-size: 41px;
  padding: 0;
  font-weight: 900;
  letter-spacing: 1.3px;
  word-spacing: 1px;
  width: 580px;
}
.backg .backg_sdiv p {
  padding: 0 20px;
  color: #fff;
  font-size: 22px;
}
.backg .backg_sdiv .searchdiv {
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0px 2px;
}
.backg .backg_sdiv .searchdiv .searchIcon {
  width: 5%;
  color: rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
.backg .backg_sdiv .searchdiv .inp2 {
  display: inline-block;
  width: 445px;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 0px 20px;
  padding-left: 5px;
  height: 100%;
}
.backg .backg_sdiv .searchdiv .city {
  width: 20%;
  height: 38px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding-left: 5px;
  outline: none;
}
.backg .backg_sdiv .searchdiv .buyRent {
  height: 38px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0px 14px;
  outline: none;
  margin: 0px 0px 0px 10px;
}
.backg .backg_sdiv .searchdiv button {
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 20px;
  height: 38px;
}
.bottom {
  color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom p {
  margin: 0;
}
.link_icns {
  margin-top: 15px;
}
.link_icns ul {
  display: flex;
}
.link_icns ul li {
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}
.link_icns ul li span {
  display: inline-block;
  margin-left: 5px;
}
.link_icns ul li:nth-child(5) {
  margin-right: 0px;
}
.find {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  color: #666;
  font-size: 21px;
  padding: 13px 20px !important;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.near {
  background-color: #fff;
  padding: 0px 20px !important;
  height: 100%;
  color: #666;
  font-weight: bold;
  border-left: 1px solid #666;
  font-size: 21px;
  display: flex;
  align-items: center;
}
.secategories {
  text-align: left;
  background-color: #fff;
  width: 100%;
  color: #000;
  border-radius: 5px;
  margin-top: 18px;
}
.secategories .VMBtn {
  padding: 6px 12px 0px 4px;
  background: transparent;
  text-align: right;
}
.secategories .VMBtn button {
  color: #007bff;
  font-size: 15px;
  font-weight: 800;
  background: transparent;
}
.secategories .selectBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 0px 3px 10px 4px;
  max-width: 100%;
  transition: 2s all;
}
.secategories .selectBoxes .leftSide,
.secategories .selectBoxes .rightSide {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.secategories .selectBoxes .leftSide label,
.secategories .selectBoxes .rightSide label {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 600;
}
.secategories .selectBoxes .leftSide select,
.secategories .selectBoxes .rightSide select {
  width: 250px;
  height: 35px;
  padding: 5px;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  font-weight: 600;
  font-size: 13px;
}
.secategories .selectBoxes .leftSide select option,
.secategories .selectBoxes .rightSide select option {
  background-color: red;
}
.secategories .selectBoxes .leftSide select .selectOptions,
.secategories .selectBoxes .rightSide select .selectOptions {
  background: green;
}
.scroll {
  position: absolute;
  right: 30px;
  bottom: 30px;
  text-align: center;
  cursor: pointer;
}
.scroll a {
  color: #fff !important;
  text-decoration: none !important;
}
.scroll .txtScroll {
  font-size: 16px;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  left: 2px;
}
.verticalLink {
  position: absolute;
  z-index: 10000000;
  text-align: center;
  writing-mode: vertical-rl;
  right: 1.8%;
  top: 40%;
}
.verticalLink .scrollLink:hover {
  color: #007bff;
}
.verticalLink a {
  margin: 14px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  cursor: pointer;
  border-left: 1px solid #fff;
  padding-left: 2px;
  transition: 0.5s all;
}
.verticalLink a:hover {
  color: #007bff;
  border-left: 1px solid #007bff;
}
@media screen and (max-width: 1400px) {
  .main_div .s_div .logo img {
    width: 120px;
    height: auto;
  }
  .main_div .s_div .signin .signin_icn {
    padding: 8px;
  }
  .main_div .s_div .signin .addprod button {
    font-size: 13px;
  }
  .main_div .s_div .tabss ul li {
    font-size: 15px;
  }
  .backg .backg_sdiv h1 {
    font-size: 44px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 34px;
    padding: 0;
    font-weight: 900;
    letter-spacing: 1.3px;
    word-spacing: 1px;
    width: 580px;
  }
  .backg .backg_sdiv p {
    font-size: 20px;
  }
  .backg .backg_sdiv .searchdiv {
    margin-top: 8px;
    height: 52px;
  }
  .backg .backg_sdiv .main_bar {
    max-width: 680px;
  }
  .secategories .selectBoxes .leftSide label,
  .secategories .selectBoxes .rightSide label {
    font-size: 13px;
  }
  .secategories .VMBtn button {
    font-size: 14px;
  }
}

/* property end */
@media screen and (max-width: 1400px) {
  .main_div .s_div .logo img {
    width: 120px;
    height: auto;
  }
  .main_div .s_div .signin .signin_icn {
    padding: 8px;
  }
  .main_div .s_div .signin .addprod button {
    font-size: 13px;
  }
  .main_div .s_div .tabss ul li {
    font-size: 15px;
  }
  .backg .backg_sdiv .searchdiv {
    margin-top: 15px;
    height: 52px;
  }
  .backg .backg_sdiv .main_bar {
    max-width: 680px;
  }
}
@media screen and (max-width: 1200px) {
  .backg .backg_sdiv .searchdiv {
    margin-top: 15px;
    height: 52px;
  }
  .backg .backg_sdiv .main_bar {
    max-width: 600px;
  }
  .backg .backg_sdiv h1 {
    font-size: 38px;
  }
}
