/* agency search start  */
.agency-search {
    width: 100%;
    padding: 0 20px;
    padding-top: 50px;
    position: relative;
    min-width: 1007px;
    margin-bottom: 50px;
}

.agency-search .secdiv {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 22px 38px;
    background-color: #f6f7fb;
}

.agency-search .secdiv h3 {
    margin-bottom: 30px;
}
.agency-search .secdiv .searchdivL {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    box-shadow: 1px 1px 20px #e1e1e1;
}

.agency-search .secdiv .searchdivL .leftSec {
    display: flex;
    align-items: center;
    width: 60%;
}

.agency-search .secdiv .searchdivL .leftSec input {
    padding: inherit;
    width: 100%;
    border: 1px solid blue !important;
}

.agency-search .secdiv .searchdivL .leftSec input:focus {
    border: none;
    outline: none;
}

.agency-search .secdiv .searchdivL .leftSec span {
    display: inline-block;
    width: 5%;
    color: rgba(0, 0, 0, 0.2);
}
.form-select {
    width: 120px !important;
}
.agency-search .secdiv .searchdivL button {
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 20px;
    height: 36px;
}
/* agency search end  */
/* input start */
.autoComplete_wrapper {
    width: 100% !important;
    margin-right: 10px !important;
}
.autoComplete_wrapper > input {
    width: 100% !important;
    height: 52px !important;
    padding-left: 8px !important;
    font-size: 1rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background-color: transparent !important;
}
.autoComplete_wrapper > ul {
    position: absolute;
    max-height: 340px !important;
    width: 64vw !important;
    overflow-y: scroll;
    top: 100%;
    left: -34px !important;
    right: 0;
    padding: 0;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(149 157 165 / 15%);
    border: 1px solid rgba(33, 33, 33, 0.07);
    z-index: 1000;
    outline: 0;
}
.autoComplete_wrapper > ul > li mark {
    color: #007bff !important;
}
/* input end */
