.search_inp ul {
    width: 100% !important;
    left: 0px !important;
}
.search_inp ul p {
    color: #000;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 0.6rem;
}

.autoComplete_wrapper{
    background-color: transparent;
    width: 100% !important;

}
