/* footer end */


/* HEADER END */


/* SLIDER START */

#box-wrapper {
    /* height: 400px;   */
    width: 100%;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1rem 0rem;
}

.boxWrapper {
    white-space: nowrap;
}

.scroll-img-list {
    display: inline-block;
    height: 100%;
    width: 280px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px #eee;
}

.scroll-img-list .imageSection {
    height: 200px;
    width: 100%;
}

.scroll-img-list .imageSection .slideImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.scroll-img-list .paraContainer {
    white-space: normal;
}

.scroll-img-list .paraContainer h6 {
    margin-bottom: 0px;
}

.sliderBtnLeft,
.sliderBtnRight {
    cursor: pointer;
    font-size: 25px;
    line-height: 0.9;
    border-radius: 3px;
    padding: 6px;
}

.sliderBtnLeft {
    position: absolute;
    left: -9.5%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.sliderBtnRight {
    position: absolute;
    right: -10%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.redColor {
    color: rgb(214, 63, 63);
}

.lightColor {
    color: rgba(0, 0, 0, 0.3);
}


/* SLIDER END */


/*----------------------- PROPERTIES-------------------*/

.imgs {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom {
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom p {
    margin: 0;
}

.link_icns {
    margin-top: 15px;
}

.link_icns ul {
    display: flex;
}

.link_icns ul li {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

.link_icns ul li span {
    display: inline-block;
    margin-left: 5px;
}

.link_icns ul li:nth-child(5) {
    margin-right: 0px;
}

.find {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #666;
    font-size: 21px;
    padding: 13px 20px !important;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.near {
    background-color: #fff;
    padding: 0px 20px !important;
    height: 100%;
    color: #666;
    font-weight: bold;
    border-left: 1px solid #666;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.secategories {
    text-align: left;
    background-color: #fff;
    width: 100%;
    color: #000;
    border-radius: 5px;
    margin-top: 18px;
}

.secategories .VMBtn {
    padding: 6px 12px 0px 4px;
    background: transparent;
    text-align: right;
}

.secategories .VMBtn button {
    color: #007bff;
    font-size: 15px;
    font-weight: 800;
    background: transparent;
}

.secategories .selectBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    padding: 0px 3px 10px 4px;
    max-width: 100%;
    transition: 2s all;
}

.secategories .selectBoxes .leftSide,
.secategories .selectBoxes .rightSide {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.secategories .selectBoxes .leftSide label,
.secategories .selectBoxes .rightSide label {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
}

.secategories .selectBoxes .leftSide select,
.secategories .selectBoxes .rightSide select {
    width: 250px;
    height: 35px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
}

.secategories .selectBoxes .leftSide select option,
.secategories .selectBoxes .rightSide select option {
    background-color: red;
}

.secategories .selectBoxes .leftSide select .selectOptions,
.secategories .selectBoxes .rightSide select .selectOptions {
    background: green;
}

.scroll {
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.scroll a {
    color: #fff !important;
    text-decoration: none !important;
}

.scroll .txtScroll {
    font-size: 16px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    left: 2px;
}

.verticalLink {
    position: absolute;
    z-index: 10000000;
    text-align: center;
    writing-mode: vertical-rl;
    right: 1.8%;
    top: 40%;
}

.verticalLink .scrollLink:hover {
    color: #007bff;
}

.verticalLink a {
    margin: 14px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    cursor: pointer;
    border-left: 1px solid #fff;
    padding-left: 2px;
    transition: 0.5s all;
}

.verticalLink a:hover {
    color: #007bff;
    border-left: 1px solid #007bff;
}

.marginTop {
    margin-top: -50px;
}

.sliderMargin {
    margin-top: -25px !important;
}

.mainSlide_Div {
    text-align: -webkit-center;
    width: 100%;
    max-width: 1380px;
    margin: auto;
    padding: 0px 30px;
}

.mainTop {
    margin-top: 50px !important;
}


/* property list end */


/* SLIDER START */

#box-wrapper {
    /* height: 400px;   */
    width: 100%;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1rem 0rem;
}

.boxWrapper {
    white-space: nowrap;
}

.scroll-img-list {
    display: inline-block;
    height: 100%;
    width: 270px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px #eee;
    margin: 10px;
}

.scroll-img-list .imageSection {
    height: 200px;
    width: 100%;
}

.scroll-img-list .imageSection .cardTag h6 {
    color: #fff;
    margin-bottom: 0rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.scroll-img-list .imageSection .cardTag {
    top: 2%;
    left: 2%;
    background-color: #b00;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
}

.scroll-img-list .imageSection .slideImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.scroll-img-list .paraContainer {
    white-space: normal;
}

.scroll-img-list .paraContainer h6 {
    margin-bottom: 0px;
}

.sliderBtnLeft,
.sliderBtnRight {
    cursor: pointer;
    font-size: 25px;
    line-height: 0.9;
    border-radius: 3px;
    padding: 6px;
}

.sliderBtnLeft {
    position: absolute;
    left: -9.5%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.sliderBtnRight {
    position: absolute;
    right: -10%;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.redColor {
    color: rgb(214, 63, 63);
}

.lightColor {
    color: rgba(0, 0, 0, 0.3);
}


/* SLIDER END */


/* visit construction start  */

.maindiv {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../assets/visitPropertySite.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 24vh;
    color: white;
    min-width: 1007px;
}

.maindiv .innerDiv {
    margin: auto;
    max-width: 1300px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.maindiv .secOne {
    max-width: 300px;
}

.maindiv .secOne h1 {
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 2.2rem;
}

.maindiv .secTwo {
    max-width: 520px;
    letter-spacing: 1.4px;
}

.maindiv .secThree button {
    padding: 13px 45px;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}


/* lol */


/* explorer start */

.exp {
    background-color: #fbfbfb;
    padding: 60px 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 1620px;
    min-width: 991px;
    margin: auto;
}

.exp .sdiv {
    width: 100%;
    max-width: 1310px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp .sdiv .f_div {
    width: 300px !important;
}

.exp .sdiv .f_div h3 {
    font-weight: bolder;
}

.mainSlide_Div {
    margin-left: 50px;
    text-align: -webkit-center;
    width: 850px;
}

.mainSlide_Div a {
    color: #000;
}

.mainSlide_Div a:hover {
    color: #000;
}

.apart,
.house,
.office,
.villa,
.svilla {
    cursor: pointer;
    width: 170px !important;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px #eee;
}


/* two-cards end */


/* input start */

.autoComplete_wrapper {
    width: 100% !important;
    margin-right: 10px !important;
}

.autoComplete_wrapper>input {
    width: 100% !important;
    height: 52px !important;
    padding-left: 8px !important;
    font-size: 1rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
    background-color: transparent !important;
}

.autoComplete_wrapper>ul {
    position: absolute;
    max-height: 340px !important;
    width: 750px !important;
    overflow-y: scroll;
    top: 100%;
    left: -39px !important;
    right: 0;
    padding: 0;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(149 157 165 / 15%);
    border: 1px solid rgba(33, 33, 33, 0.07);
    z-index: 1000;
    outline: 0;
}

.autoComplete_wrapper>ul>li mark {
    color: #007bff !important;
}

.products {
        margin: 20px 0;
    }

    .products a {
        text-decoration: none;
    }

    .products ul {
        list-style: none;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .container {
        max-width: 1296px;
        margin: 0 auto;
    }

    .product-sec-wrapper {
        background: #fff;
        border-top: 3px solid #2e3192;
        box-shadow: 1px 1px 10px #ccc;
    }

    .product-sec-wrapper h2 {
        color: #333;
        font-size: 28px;
        padding: 15px 15px 5px 15px;
        font-weight: 700;
    }

    .product-sec-wrapper h2 a.hCathd {
        color: #333;
    }

    .cBFlex {
        display: flex;
    }

    .minht {
        padding-bottom: 15px;
    }

    .pbnr7 {
        background-image: url(https://hm.imimg.com/imhome_gifs/bigBn01.jpg);
    }

    .product-banner {
        background-repeat: no-repeat;
        width: 325px;
        margin: 15px 15px 0;
        position: relative;
        flex-shrink: 0;
        background-size: cover;
    }

    .banner-content {
        padding: 15px;
        position: absolute;
        bottom: -15px;
        z-index: 2;
    }

    .product-banner ul {
        padding: 0;
        color: #fff;
        line-height: 28px;
        margin: 15px 0;
    }

    .product-sec-wrapper .product-banner .view-all {
        background: #19a598;
        width: 120px !important;
        display: block;
        text-align: center;
        box-sizing: border-box;
        font-size: 16px;
        padding: 9px 0;
        margin: 20px;
    }

    .product-banner .banner-content a {
        color: #fff;
        padding: 5px 20px;
        border: none;
        margin: 0;
        text-decoration: none;
        border-radius: 4px;
        position: relative;
    }

    .product-banner .banner-content li a {
        background: 0 0;
    }

    .product-banner .banner-content a {
        color: #fff;
        padding: 5px 20px;
        border: none;
        margin: 0;
        text-decoration: none;
        border-radius: 4px;
        position: relative;
    }

    .product-banner:after {
        background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0, #161616 61%, #1e1e1e 100%);
        background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0, #161616 61%, #1e1e1e 100%);
        background: linear-gradient(to bottom, rgba(10, 10, 10, 0) 0, #161616 61%, #1e1e1e 100%);
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .8;
    }

    .cBW100 {
        width: 100%;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .product-sec-wrapper .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 31.333333%;
        flex: 0 0 31.333333%;
        max-width: 31.333333%;
        margin: 15px 8px 0 8px;
    }

    .bdr1 {
        border: 1px solid #ebebeb;
        position: relative;
    }

    .product-item {
        border-radius: 3px;
        color: #333;
        display: flex;
        padding: 12px 10px;
    }

    .product-thumbnail {
        width: 100px;
        flex-shrink: 0;
    }

    .product-thumbnail a {
        width: 100px;
        display: block;
    }

    .product-item img {
        max-width: 100px;
        max-height: 100px;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translate(0, -50%);
    }

    .product-meta {
        padding-left: 15px;
        width: 100%;
    }

    .product-item h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .product-item p {
        color: #666;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .product-meta a {
        color: #333;
        font-size: 14px;
        margin-bottom: 10px;
    }


/* input end */
